@keyframes animate2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate1 {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

@keyframes vanish {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes popUp {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes startColor {
  0% {
    color: #d6e105;
  }
  50% {
    color: #ce714f;
  }
  100% {
    color: #d6e105;
  }
}
