.loading {
  &__ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    font-family: sans-serif;
    font-size: 20px;
    color: #fff000;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #fff000;
    box-shadow: 0 0 20px rgba(32, 31, 31, 0.5);
    animation-name: vanish;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    &::before {
      //Yellow ring. With before we append it to the parent "ring"
      content: '';
      position: absolute;
      top: -3px;
      left: -3px;
      width: 105%;
      height: 105%;
      border: 3px solid transparent;
      border-top: 3px solid #fff000;
      border-right: 3px solid #fff000;
      border-radius: 50%;
      animation: animate2 2s linear infinite;
    }
  }
  &__item {
    //Little ball moving around
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: animate1 2s linear infinite;
    &::before {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: #fff000;
      top: -6px;
      right: -8px;
      box-shadow: 0 0 20px #fff000;
    }
  }
}
